## Ignore bin/obj folders
bin/
obj/

## Rider, VS, VS Code
.vscode/
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

## NuGet packages
*.nupkg
*.snupkg
packages/
.nuget/

## .NET Core publish folder
publish/

## Logs
*.log
logs/

## User-specific files
*.rsuser
*.suo
*.user
*.userprefs
*.dotCover

## OS files
.DS_Store
Thumbs.db

## Visual Studio cache files
*.cache
*.ide
*.suo
*.pdb

## Secret Manager for .NET
secrets.json

## other
AnimeHub.Api.http
